<html prefix="og: http://ogp.me/ns#">
	<head>
			<title>
				Demo layout website
			</title>
			<meta property="og:title" content="Demo website" />
			<meta property="og:type"  content="Info to be added later" />
			<meta property="og:url"   content="http://www.demo.com" />
			<meta property="og:image" content="http://www.<link to image>"/>
			<meta property="og:description" content="description"/>
			<meta property="og:audio" content=""/>
			<meta property="og:locale" content=""/>
			<meta property="og:site_name" content=""/>
	</head>
	<body>
		Hello World !!!
	</body>
</html>